.container{
    width: 99%;
    margin: 0 auto;
} 

$screenLarge: 1224px;
$screenMedium: 1024px;
$screenSmall : 768px;
$screenXsmall : 500px;

@mixin minLarge(){
    @media (min-width:$screenLarge){
        @content;
    }
}
@mixin minMedium(){
    @media(min-width:$screenMedium){
        @content;
    }
}
@mixin minSmall(){
    @media(max-width:$screenSmall){
        @content;
    }
}
@mixin minXsmall(){
    @media(max-width:$screenXsmall){
        @content;
    }
}





